:root {
  --main-red: #FF4D59;
  --main-pink: #DC4684;
  --purple-one: #A55199;
  --purple-two: #695795;
  --main-blue: #3B537B;
  --main-teal: #2F4858;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* base styling */

.top-banner {
  background-color: var(--main-red);
}

.top-banner button {
  border: none;
  background-color: transparent;
}

.creative-link {
  font-size: 15px;
}

/* Creative Tab Styling */

.vid-section-description {
  margin: 100px 0px 100px 0px;
}



.display-photo {
  border-radius: 5px;
  width: 60vw;
  max-width: 500px;
  margin: 5px;
}

